html,
body,
div,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img ,
a,input{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
}

img {
	border: 0;
}

ul {
	list-style: none;
}

body {
	font-size: 12px;
	color: #434343;
	background: #ffffff;
}

.clearfix:after {
	content: '';
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.clearfix{
	zoom: 1;
}

a{
	color: #434343;
	text-decoration: none;
}

/*a:hover{
	color:#ff3b70;
}*/

.fl{
	float: left;
}

.fr{
	float: right;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "microsoft yahei";
	text-decoration: none;
	box-sizing: border-box;
}
.head
{
	width: 100%;
	height: 36px;
	position: relative;
	z-index: 100;
	background: #333;
}

.w
{
	width: 1090px;
	margin: 0px auto;
	position: relative;
	height: 170px;
}

.head .box
{
	height: 100%;
	line-height: 36px;
	overflow: hidden;
}

.head .box .slogan
{
	float: left;
	display: inline-block;
	color: #ccc;
	height: 12px;
}

.head .box .slogan:hover
{
	color: white;
}

.head .box .horn
{
	float: left;
	margin-left: 10px;
	position: relative;
	top: 11px;
}

.head .box .lb{
	margin-left: 10px;
	float: left;
	width: 300px;
}

.head .box .lb li{
	width: 100%;
	height: 36px;
}
.head .box .lb li a
{
	display: inline-block;
	width: 100%;
	color: #b4a078;	
	text-decoration: underline;
}
.head .box .lb li a:hover
{
	color: white;
	text-decoration: none;
}

.head .box span
{
	float: right;
	display: block;
	height: 36px;
	color: #ccc;
	margin-left: 5px;
}
.head .box span i
{
	margin-right: 5px;
	display: inline-block;
	width: 8px;
	height: 11px;
	background: url(../img/zt-img/sprites.png) ;
}

.head .box .list
{
	height: 36px;
	float: right;
}
.head .box .list li
{
	display: inline-block;
	float: left;
	margin: 0 5px;
	text-align: center;
	color: #CCCCCC;
}
.head .box .list li a
{
	margin: 0 5px;
	color: #ccc;
}

.head .box #log,.head .box #res
{
	float: right;
	margin: 0 5px;
	color: #ccc;
}

.head .box .list li a:hover,.head .box #log:hover,.head .box #res:hover
{
	color: white;
}

.headmain
{
	position: relative;
	height: 204px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2)
}
.headmain .logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -30px;
	display: block;
	width: 180px;
	height: 60px;
	background: url(../img/zt-img/sprites.png) no-repeat 0px -145px;
}

.headmain .ic1
{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/zt-img/sprites.png) no-repeat 0px -112px;
}
.headmain .ic1:hover
{
	background: url(../img/zt-img/sprites.png) no-repeat 0px -79px;
}

.headmain .ic2
{
	position: absolute;
	right: 54px;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/zt-img/sprites.png) no-repeat 0px -289px;
}
.headmain .ic2:hover
{
	background: url(../img/zt-img/sprites.png) no-repeat 0px -259px;
}

.headmain input
{
	position: absolute;
	right: 78px;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 200px;
	height: 24px;
	border: none;
	border-bottom: 1px solid #D8CEBC ;
	outline: none;
	text-indent: 1em;
}

.headmain .tabnav
{
	height: 60px;
	line-height: 60px;
}

.navul{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	background: #fff;
	z-index: 5;
/*	border-bottom: 1px solid #f5f5f5;*/
}

.headmain .tabnav li
{
	width: 77px;
	height: 100%;
	float: left;
	display: block;
	text-align: center;
	
}

.headmain .tabnav>li>a
{
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

.headmain .tabnav>li>a:hover,.headmain .tabnav>li>a[id='select']
{
	color: #b4a078;
    border-bottom: 3px solid #b4a078;
}

.headmain .tabnav li .box
{
	position: absolute;
	width: 738px;
	height: 365px;
	background:#fff;
	display: none;
	z-index: 2;
}

.headmain .tabnav li .box ul
{
	float: left;
	width: 140px;
	margin: 22px;
}

.headmain .tabnav li .box ul li
{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.headmain .tabnav li .box ul li[class='title']
{
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	border-bottom: 1px solid #ddd;
}
.headmain .tabnav li .box ul li img
{
	display: inline-block;
	height: 50px;
	width: 50px;
	float: left;
}
.headmain .tabnav li .box ul li a
{
	display: block;
	line-height: 50px;
	width: 90px;
	height: 100%;
	float: left;
	font-weight: 400;
	color: #333;
	font-size: 12px;
}
.headmain .tabnav li .box ul li a:hover
{
	color: #b4a078;
}









.foot
{
	height: 300px;
    padding-top: 60px;
    padding-bottom: 34px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
}

.foot>div
{
	width: 363px;
	height: 204px;
	float: left;
	text-align: center;
}

.foot>div h4
{
	font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}

.foot>div .serviceTel
{
	width: 100%;
	height: 144px;
}


.foot>div .serviceTel .kefuBtn,.foot>div .serviceTel .feedbackBtn
{
	width: 80px;
	height: 100px;
	border: 1px solid #E8E8E8;
	display: inline-block;
	position: relative;
}
.foot>div .serviceTel .kefuBtn:hovelr,.foot>div .serviceTel .feedbackBtn:hover
{
	cursor: pointer;
}
.foot>div .serviceTel .feedbackBtn
{
	margin-left: 30px;
}

.foot>div .serviceTel .kefuBtn .ic3
{
	position: absolute;
	left: 50%;
	margin-left: -31px;
	top: 10px;
	width: 62px;
	height: 54px;
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -463px;
	transform: scale(0.5);
}
.foot>div .serviceTel .kefuBtn:hover .ic3
{
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -391px;
}

.foot>div .serviceTel .feedbackBtn .ic4
{
	position: absolute;
	left: 50%;
	margin-left: -31px;	
	top: 10px;
	width: 62px;
	height: 54px;
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -196px;
	transform: scale(0.5);
}

.foot>div .serviceTel .feedbackBtn:hover .ic4
{
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -122px;
}

.foot>div .serviceTel .kefuBtn .msg,.foot>div .serviceTel .feedbackBtn .msg
{
	position: relative;
	top: 65px;
	font-size: 14px;
	color: #333333;
}

.foot>div .serviceTel .kefuBtn:hover .msg,.foot>div .serviceTel .feedbackBtn:hover .msg
{
	color: #b4a078;
}
.foot>div:nth-child(2)
{
	padding: 0 37px;
	border-right:1px solid #e9e9e9;
	border-left:1px solid #e9e9e9;
}
.foot>div p
{
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;	
}

.foot>div .connect
{
	width: 288px;
	height: 42px;
}

.foot>div .connect .title
{
	margin-right: 15px;
    font-size: 14px;
    line-height: 32px;
    float: left;	
}

.foot>div .connect .ic5,.foot>div .connect .ic6,.foot>div .connect .ic7
{
	position: relative;
	bottom: 17px;
	float: left;
	width: 64px;
	height: 64px;
	transform: scale(0.5);
}
.foot>div .connect .ic5
{
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -826px;
}

.foot>div .connect .ic6
{
	right: 8px;
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -742px;
}

.foot>div .connect .ic7
{
	right: 16px;
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -536px;
}

.foot>div img
{
	display: block;
	margin-left: 128px;
}

.foot>div span
{
	position: relative;
    color: #b4a078;
    font-size: 12px;
   	top: 10px;	
}

.foot1
{
	height: 204px;
	width: 100%;
	background: #414141;
	
}

.foot1 .box
{
	height: 100%;
	border: 1px #414141 solid;
}

.foot1 .box .foot1-list1
{
	margin-top: 37px;
	height: 51px;
	width: 100%;
}
.foot1 .box .foot1-list1 li
{
	float: left;
	height: 100%;
	display: block;
	width: 362px;
	text-align: center;
}
.foot1 .box .foot1-list1 li .img1,.foot1 .box .foot1-list1 li .img2,.foot1 .box .foot1-list1 li .img3
{
	width: 102px;
	height: 102px;
	display: block;
	float: left;
	transform: scale(0.5);
	position: relative;
	bottom: 26px;
}
.foot1 .box .foot1-list1 li .img1
{
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -620px;
}

.foot1 .box .foot1-list1 li .img2
{
	background: url(../img/zt-img/sprites1.png) no-repeat;
}

.foot1 .box .foot1-list1 li .img3
{
	background: url(../img/zt-img/sprites1.png) no-repeat 0px -270px;
}
.foot1 .box .foot1-list1 li .text
{
	height: 100%;
	float: left;
	line-height: 51px;
	font-size: 18px;
	color: white;
}
.foot1 .box .bottom
{
	position: relative;
	padding-top: 20px;	
	height: 95px;
	width: 100%;
	margin-top: 20px;
	border-top: #999 solid 1px;
}

.foot1 .box .bottom .nav
{

	width: 100%;
	height: 18px;
	text-align: center;
}
.foot1 .box .bottom .nav a
{
	margin: 0 10px;
	width: 60px;
	height: 18px;
	font-size: 12px;
	color: #999;
	line-height: 18px;
}
.foot1 .box .bottom .nav a:nth-child(even)
{
	width: 20px;
	margin: 0 5px;
}
.foot1 .box .bottom .copyright
{
	text-align: center;
	padding-top: 5px;	
	width: 100%;
	height: 18px;
	font-size: 12px;
	color: #999;
	line-height: 18px;
}
.foot1 .box .bottom img
{
	position: absolute;
	right:60px;
	top: 0px;
	transform: scale(0.7);
}



