body{
	background: #FFFFFF;
}
.scon_hd{
	width: 1090px;
	height: 40px;
	margin: 10px auto;
	border: 1px solid #eaeaea;
	line-height: 38px;
}
.scon_hd>i{
	display: block;
	float: left;
	
	background: url(../../img/cjm_img/pbg1.png);
	margin: 9px 17px 0 12px;
	background-position: 0 -105px;
	height: 20px;
	width: 28px;
}
.scon_hd p{
	float: left;
	font-size: 14px;
	color: #999;
}
.scon_hd_check{
	float: right;
	color: #DD3A44;
	border: 1px solid #DD3A44;
	width: 96px;
	height: 24px;
	margin: 8px 16px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}
.scon_hd_check i{
	display: block;
	float: right;
	background: url(../../img/cjm_img/pbg2.png);
	background-position: 0 -802px;
	height: 7px;
	width: 12px;
	margin-top: 7px;
	margin-right: 5px;
}
#scon_tt{
	width: 1090px;
	height: 48px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 14px 0;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
}
#all{
	float: left;
	margin: 2px 24px;
}
#scon_tt ul li{
	float: left;
	font-size: 13px;
}
#scon_tt ul .w1{
	margin-right: 100px;
}
#scon_tt ul .w2{
	margin-right: 280px;
}
#scon_tt ul .w3{
	margin-right: 140px;
}
#scon_tt ul .w4{
	margin-right: 140px;
}
#scon_tt ul .w5{
	margin-right: 100px;
}
#scon_tt ul .w6{
	/*margin-right: 80px;*/
}

.cart{
	width: 1088px;
	height: 140px;
	margin: 0 auto;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.cart ul li{
	float: left;
}
.cart .w7{
	width: 59px;
}
.cart .w7 input{
	margin: 60px 50%;
}
.cart .w8{
	width: 400px;
	height: 100px;
}
.cart .w8 img{
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid #eaeaea;
	margin-top: 20px;
	background: #f4f4f4;
}
.cart .w8 p{
	float: left;
	font-size: 14px;
	max-width: 248px;
	margin: 20px 25px;
}
.cart .w8 p:hover{
	color: #b4a078;
}
.cart .w9{
	text-align: center;
	line-height: 1;
	font-size: 14px;
	color: #000;
	margin: 25px 40px;
	
}
.cart .w9 span{
	font-size: 14px;
	color: #000;
}

.cart .w10{
	text-align: center;
	line-height: 1;
	font-size: 14px;
	color: #000;
	margin: 25px 45px;
}
.cart .w10 .reduce{
	width: 20px;
}
.cart .w10 .number{
	width: 60px;
	text-align:center;
}
.cart .w10 .add{
	width: 20px;
}
.cart .w11{
	width: 50px;
	text-align: center;
	line-height: 1;
	font-size: 14px;
	color: #000;
	margin: 25px 40px;
	
}
.cart .w11 span{
	font-size: 14px;
	color: #000;
}
.cart .w12{
	width: 40px;
	float: right;
	text-align: center;
	line-height: 1;
	font-size: 14px;
	color: #000;
	margin: 25px 60px;
	
}

.total{
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	width: 1090px;
	margin: 20px auto;
	height: 70px;
}
.total ul li{
	float: left;
}
.total .h1{
	width: 20px;
	margin: 25px 15px 25px 30px;
}
.total .h2{
	width: 50px;
	margin: 22px 25px 25px 0px;
	font-size: 14px;
}
.total .h2 span{
	display: none;
	float: right;
	font-size: 14px;
}
.total .h3{
	width: 80px;
	margin: 22px 25px 25px 0px;
	font-size: 14px;
}
.total .h4{
	width: 120px;
	margin: 22px 145px 25px 0px;
	font-size: 14px;
}
.total .h5{
	width: 200px;
	margin: 22px 25px 25px 0px;
	font-size: 14px;
	color: #666666;
}
.total .h5 span{
	margin: 0px 25px 0px 50px;
	font-size: 14px;
	color: #666666;
}
.total .h6{
	width: 180px;
	line-height: 25px;
	margin: 22px 0px 25px 45px;
	font-size: 14px;
}
.total .h6 .all_fu{
	font-size: 22px;
	color: red;
	font-weight: bold;
}
.total .h6 #allmoney{
	font-size: 22px;
	color: red;
	font-weight: bold;
}
.total .h7{
	width: 120px;
	height: 70px;
	float: right;
	text-align: center;
	line-height: 70px;
	font-size: 24px;
	color: #FFFFFF;
	background: #999999;
}

